@import "tailwindcss";

:root {
  --background: #0b1120;
  --foreground: #ffffff;
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}



@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}
@keyframes heartbeatMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-heartbeat-line {
  animation: heartbeatMove 8s linear infinite;
}
.pulse-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: pulseDraw 3s ease-in-out infinite;
}

@keyframes pulseDraw {
  0% {
    stroke-dashoffset: 1000;
    opacity: 0.5;
  }
  40% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  70% {
    stroke-dashoffset: 0;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 1000;
    opacity: 0.4;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #0064c8;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/*  */

@keyframes slowZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.animate-slowZoom {
  animation: slowZoom 20s linear infinite alternate;
}
